
.navbar-custom{
  background-color: black;
  opacity:0.95;

}
.navbar-form{
margin-top:16px;
}
.navbar-brand, .navbar-right, .navbar-toggle{
margin-top:10px;
font-size:1.5em;
color:blue;
}
.navbar-brand{
  color:white;
  font-size:2em;
}
.small-notification{
  background-color:black;
  color:white;
  opacity:0.8;
  width:100%;
  height:auto;
  font-size:1.4em;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
              0 3px 3px 0 rgba(0,0,0, 0.87);
  border:2px solid white;
  border-radius: 8px;
  padding-left: 10px;
}
.section-1{
  background:white;
  opacity:0.8;
  padding:50px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
              0 3px 3px 0 rgba(0,0,0, 0.87);
    border-radius: 5px;
}
.form-group{
    border: 2px solid black;
    border-radius: 2px;
}
.section-2{
  background:#dee0e2;
  opacity:0.9;
  padding:50px;
  margin-top:20px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
              0 3px 3px 0 rgba(0,0,0, 0.87);
  border-radius: 5px;
}

#main-section{
  margin-top:120px;
  height:auto;

}
#curve_chart{
  position:relative;
  width:100%;
  height:450px;
  background-color:transparent;
  margin-top:20px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
              0 3px 3px 0 rgba(0,0,0, 0.15);
  border:2px solid grey;
  border-radius: 8px;
}
.button-group{
  width:100%;
  min-width: 150px;
}

li{float:left;
   margin: 10px;}
li:hover{
  cursor: pointer;
}
.quote_button{
    padding:10px;
    border-color: black;
}
#user-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
			      	0 3px 3px 0 rgba(0,0,0, 0.87);
  border:2px solid grey;
  border-radius: 8px;
  margin-top:285px;
  height: auto;
  background: white;
  opacity:0.8;
}
#transaction-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
				0 3px 3px 0 rgba(0,0,0, 0.87);
  border:1px solid black;
  border-radius: 8px;
  background-color:white;
  height: auto;
}
#check_news{
  margin-top:20px;
}
#news-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
				0 3px 3px 0 rgba(0,0,0, 0.87);
  border:2px solid black;
  border-radius: 8px;
  height: auto;
  background-color:white;
  opacity:0.8;
}
#Asset-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.87),
				    0 3px 3px 0 rgba(0,0,0, 0.87);
  border:1px solid black;
  border-radius: 8px;
  background: white;
  height: auto;
}
.transaction {
  border-left:8px solid lightblue;
}
.asset{
    border-left:8px solid lightblue;
}
.transaction h4 h5{
  padding-left:8px;
}
.hidden{
  display:none;
}
body{
background:#d9dce0;
background-image: url("back.jpg");
}
