.navbar-custom{
  background-color: black;
  opacity:0.8;

}
.navbar-form{
margin-top:16px;
}
.navbar-brand, .navbar-right, .navbar-toggle{
margin-top:10px;
  font-size:1.5em;
}
.small-notification{
  width:80%;
  height:auto;
  font-size:1.4em;
}
#main-section{

  margin-top:120px;
  height:auto;
}
#curve_chart{
  position:relative;
  width:95%;
  height:500px;
  background-color: lightblue;
  margin-top:70px;
}
.button-group{
  width:100%;
}
li{float:left;
   margin: 10px;}
li:hover{
  cursor: pointer;
}
.quote_button{
    padding:10px;
    border-color: black;
}
#user-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
  border:1px solid black;
  border-radius: 8px;

  margin-top:280px;
  height: auto;
}
#transaction-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
  border:1px solid black;
  border-radius: 8px;

  height: auto;
}
#news-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
  border:1px solid black;
  border-radius: 8px;

  height: auto;
}
#Asset-section{
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
  border:1px solid black;
  border-radius: 8px;

  height: auto;
}
.transaction {
  border-left:8px solid lightblue;
}
.asset{
    border-left:8px solid lightblue;
}
.transaction h4 h5{
  padding-left:8px;
}
.hidden{
  display:none;
}
